<mat-form-field style="width: 30%;margin-left: 30%;margin-top: 90px;">
    <input matInput placeholder="Username">
</mat-form-field>
<mat-form-field style="width: 30%;margin-left: 30%;margin-top: 90px;">
    <input type="password" matInput placeholder="Password">
</mat-form-field><br><br><br><br><br>
<mat-form-field style="margin-left: 30%;width: 30%;">
    <mat-select placeholder="Select Department">
        <mat-option value="option">B.E</mat-option>
        <mat-option value="option">M.E</mat-option>
        <mat-option value="option">MBA</mat-option>
        <mat-option value="option">MCA</mat-option>
    </mat-select>
</mat-form-field>
<mat-radio-button style="margin-left: 10%;">Male</mat-radio-button><mat-radio-button>Female</mat-radio-button>
<a routerLink='../two'><button style="margin-left: 40%;" class="Rahulbutton" mat-raised-button>login</button></a>